# Defaults used by ontology-lookup build and init-db commands.
ONTOLOGY_SOURCE_DIR=.cache/ontology_jsons
ONTOLOGY_PARENT_TERMS=MS:1000031,MS:1000076,MS:1000008,MS:1003761,MS:1000007,MS:1003737,MS:1002270,MS:1003776,EDAM:data_2894,EDAM:format_1915,MS:1001459
ONTOLOGY_DB_PATH=.db/ontology_lookup.db
ONTOLOGY_BATCH_SIZE=5000
